/* 
primary: #091540
secodry: #1B2CC1
background: #ABD2FA
s.background: #ffffff
lokal: #7692FF

font-family: Arial, Helvetica, sans-serif
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #091540;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 1100px;
    max-width: 90%;
    margin: 0 auto;
}

/* ini bagian navbar */

.header {
    height: 80px;
    background-color: #d2e9ff;
    border-bottom: 1px solid #c1c1c1;
}

.container-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: inherit;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    font-size: 14px;
    color: grey;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #1B2CC1;
}

/* ini bagian hero section */

.hero {
    min-height: 650px;
    background-color: #9fe6fc;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-label {
    font-weight: bold;
    color: inherit;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.content {
    width: 55%;
}

.content h1 {
    font-size: 70px;
    line-height: 1.05;
    color: blue;
    margin-bottom: 10px;
}

.content h2 {
    font-size: 24px;
    color: red;
    font-weight: bold;
    margin-bottom: 20px
}

.hero-description {
    width: 600px;
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
}

/* bagian tombol */

.button {
    padding: 13px 24px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 14px;
}

.hero-button {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.button-primary {
    background-color: blue;
    color: white;
}

.button-outline {
    background-color: green;
    color: white;
}

/* bagian sosial media */

.sosial-media {
    display: flex;
    gap: 25px;
}

.sosial-media a {
    font-size: 14px;
    color: #6b6b6b;
}

/* ini bagian gambar profile */

.picture {
    width: 30%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.picture-frame {
    height: 400px;
    width: 330px;
    background-color: purple;
    padding: 12px;
    border-radius: 180px 180px 20px 20px;
}

.picture-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 180px 180px 20px 20px;
}

/* ini bagian about */

.section-heading {
    margin-bottom: 50px;
}

.section-heading p {
    color: inherit;
    /* font-size: 12px; */
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.section-heading h2 {
    font-size: 38px;
}

.about {
    background-color: #b0b0b0;
}

.about-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.about-text {
    width: 55%;
}

.about-text h3 {
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 25px;
}

.about-text p {
    margin-bottom: 15px;
}

.section {
    padding: 100px 0;
}

.text-link {
    display: inline-block;
    color: blue;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

.about-info {
    width: 35%;
    border-top: 1px solid grey;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid grey;
}

.info-item span {
    font-size: 13px;
}

.info-item strong {
    font-size: 13px;
    text-align: right;
    color: red;
}

/* ini bagian skills */

.skills {
    background-color: pink;
}

.skill-content {
    display: flex;
    gap: 20px;
}

.skill-card {
    flex: 1;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px;
}

.skill-number {
    font-weight: bold;
    color: blue;
    font-size: 18px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 22px;
    margin-bottom: 13px;
}

.skill-card p {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 15px;
}

.skill-level {
    padding-top: 15px;
    border-top: 1px solid grey;
    color: red;
    font-weight: bold;
}

.tools {
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.tools-list {
    display: flex;
    gap: 10px;
}

.tools-list span {
    padding: 8px 14px;
    background-color: #ffffff;
    margin-top: 15px;
    border-radius: 15px;
    color: black;
}

/* ini bagian my projects */

.projects {
    background-color: #b4d3ff
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-card {
    display: flex;
    gap: 40px;
    padding: 25px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 20px;
    align-items: center;
}

.project-image {
    width: 380px;
    max-width: 100%;
    height: 270px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffff
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-content {
    padding: 15px 0;
}

.project-category {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: blue;
    margin-bottom: 10px;
}

.project-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.project-description {
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
    text-align: justify;
}

.project-tech {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.project-tech span {
    padding: 5px 10px;
    background-color: red;
    color: #ffffff;
    border-radius: 15px;
}

.project-link {
    color: inherit;
    font-size: 14px;
    font-weight: bold;
}

/* ini bagian experience */

.experience {
    background-color: #f8ff92;
}

.timeline {
    width: 850px;
    margin: 0 auto;
}

.timeline-item {
    display: flex;
    gap: 50px;
    padding: 30px 0;
    border-bottom: 1px solid grey;
}

.timeline-year {
    width: 150px;
    flex-shrink: 0;
    color: inherit;
    font-size: 13px;
    font-weight: bold;
}

.timeline-content h3 {
    font-size: 22px;
    margin-bottom: 3px;
}

.timeline-content h4 {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 14px;
    color: black;
}

/* ini bagian services */

.services {
    background-color: #d9dcff;
}

.service-list {
    display: flex;
    gap: 20px;
}

.service-card {
    flex: 1;
    padding: 35px;
    border: 1px solid grey;
    border-radius: 20px;
}

.service-card span {
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

.service-card h3 {
    font-size: 23px;
    margin: 30px 0 12px
}

.service-card p {
    color: black;
    font-size: 14px;
    text-align: justify;
}

/* ini bagian contact */

.contact {
    background-color: #f3c7ff;
}

.contact-box {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.contact-text {
    width: 55%;
}

.contact-label1 {
    color: blue;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-text h2 {
    color: inherit;
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 45px;
}

.contact-label2 {
    font-size: 14px;
    color: black;
}

.contact-info {
    width: 35%
}

.contact-item {
    padding: 18px 0;
    border-bottom: 1px solid grey;
}

.contact-item span {
    display: block;
    font-size: 11px;
    margin-bottom:5px;
    color: red;
}

.contact-item a, .contact-item strong {
    font-size: 14px;
    color: blue;
}

/* ini untuk bagian footer */

footer {
    background-color: #000735;
    color: #ffffff;
    padding: 20px 0;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-footer p {
    font-size: 14px;
    font-weight: bold;
}

/* ================================================= */
/* RESPONSIVE - TABLET & HP */
/* ================================================= */

@media (max-width: 400px) {

    /* =========================
       GLOBAL
    ========================= */

    .container {
        max-width: 90%;
    }

    .section {
        padding: 70px 0;
    }


    /* =========================
       NAVBAR
    ========================= */

    .header {
        height: auto;
        padding: 20px 0;
    }

    .container-header {
        flex-direction: column;
        gap: 20px;
    }

    .nav-menu {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .nav-menu a {
        font-size: 12px;

    }


    /* =========================
       HERO
    ========================= */

    .hero {
        min-height: auto;
        padding: 80px 0;
    }

    .picture {
        display: flex;
        justify-content: center;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .content {
        width: 100%;
    }

    .content h1 {
        font-size: 48px;
    }

    .content h2 {
        font-size: 21px;
    }

    .hero-description {
        width: 100%;
    }


    /* =========================
       HERO BUTTON
    ========================= */

    .hero-button {
        justify-content: center;
        gap: 15px;
    }


    /* =========================
       SOCIAL MEDIA
    ========================= */

    .sosial-media {
        justify-content: center;
        gap: 20px;
    }


    /* =========================
       PROFILE PICTURE
    ========================= */

    .picture {
        width: 100%;
    }

    .picture-frame {
        width: 280px;
        height: 340px;
    }


    /* =========================
       SECTION HEADING
    ========================= */

    .section-heading {
        margin-bottom: 35px;
        text-align: center;
    }

    .section-heading h2 {
        font-size: 32px;
    }


    /* =========================
       ABOUT
    ========================= */

    .about-content {
        flex-direction: column;
        gap: 40px;
    }

    .about-text {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .about-text h3 {
        font-size: 25px;
    }


    /* =========================
       SKILLS
    ========================= */

    .skill-content {
        flex-direction: column;
    }

    .skill-card {
        width: 100%;
    }


    /* =========================
       TOOLS
    ========================= */

    .tools-list {
        flex-wrap: wrap;
    }


    /* =========================
       PROJECTS
    ========================= */

    .project-card {
        flex-direction: column;
        align-items: stretch;
        gap: 25px;
    }

    .project-image {
        width: 100%;
        height: 250px;
    }

    .project-content {
        padding: 5px 0;
    }

    .project-content h3 {
        font-size: 25px;
    }

    .project-tech {
        flex-wrap: wrap;
    }


    /* =========================
       EXPERIENCE
    ========================= */

    .timeline {
        width: 100%;
    }

    .timeline-item {
        flex-direction: column;
        gap: 10px;
        padding: 25px 0;
    }

    .timeline-year {
        width: 100%;
    }


    /* =========================
       SERVICES
    ========================= */

    .service-list {
        flex-direction: column;
    }

    .service-card {
        width: 100%;
    }


    /* =========================
       CONTACT
    ========================= */

    .contact-box {
        flex-direction: column;
        gap: 40px;
    }

    .contact-text {
        width: 100%;
        text-align: center;
    }

    .contact-info {
        width: 100%;
    }

    .contact-text h2 {
        font-size: 38px;
        line-height: 1.2;
    }


    /* =========================
       FOOTER
    ========================= */

    .content-footer {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .content-footer p {
        font-size: 10px;
    }
}